[submodule "vendor/plugins/restful_authentication"]
	path = vendor/plugins/restful_authentication
	url = git://github.com/technoweenie/restful-authentication.git
[submodule "vendor/plugins/jrails"]
	path = vendor/plugins/jrails
	url = git://github.com/aaronchi/jrails.git
[submodule "vendor/plugins/hoptoad_notifier"]
	path = vendor/plugins/hoptoad_notifier
	url = git://github.com/thoughtbot/hoptoad_notifier.git
