html, body {
  height: 100%;
}

body {
  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
  font-size: 1em;
  margin: 0;
}

.flot-graph {
  width: 840px;
  height: 450px;
}

#header {
  height:100px;
  margin:0;
  background: #ddd url(/images/header_bg.png) repeat-x;
}

#footer {
  height:100px;
  margin:0;
  background: #ddd url(/images/footer_bg.png) repeat-x;
}

.site {
  width: 956px;
  padding: 1em;
  text-align: left;
  margin: 0 auto;
}

#content {
  margin-top: -50px;
  margin-bottom: -50px;
  background: #fff;
  position: relative;/*for overlaying footer*/
}

.search-form-table {
  height: 60px;
  display: table;
  #position: relative;
  overflow: hidden;
}

.search-form-cell {
  #position: absolute;
  #top: 50%;
  display: table-cell;
  vertical-align: middle;
}

.search-form-content {
  #position: relative;
  #top: -50%;
}

input.search-form {
  border:1px solid #5C9CCC;
  /*font-size:150%;*/
  padding: 0.2em 0;
  margin-top:0.1em;
  width:14em;
}

.tooltip-hint {
  border-bottom: 1px dashed #5C9CCC;
  color: #5C9CCC;
}
