body {
  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
  font-size: 1em;
}

.flot-graph {
  width: 800px;
  height: 400px;
}

#wrapper {
  margin: 0 auto;
  position: relative;
  width: 956px;
}
