body {
  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
  font-size: 1em;
  margin: 0;
}

.flot-graph {
  width: 800px;
  height: 400px;
}

#header {
  border-bottom:2px solid #DDDDDD;
  height:115px;
  margin:0;
  background: #ddd;
}

.site {
  width: 956px;
  padding: 1em;
  text-align: left;
  margin: 0 auto;
}

#content {
  margin: -60px auto;
  background: #fff;
}

.search-form-table {
  height: 60px;
  display: table;
  #position: relative;
  overflow: hidden;
}

.search-form-cell {
  #position: absolute;
  #top: 50%;
  display: table-cell;
  vertical-align: middle;
}

.search-form-content {
  #position: relative;
  #top: -50%;
}

input.search-form {
  border:1px solid #5C9CCC;
  /*font-size:150%;*/
  padding: 0.2em 0;
  margin-top:0.1em;
  width:14em;
}

.tooltip-hint {
  border-bottom: 1px dashed #5C9CCC;
  color: #5C9CCC;
}
