<div id="error_box" class="ui-widget" style="display: none; width: 70%">
  <div class="ui-state-error ui-corner-all" style="padding: 0pt 0.7em">
    <p>
      <span class="ui-icon ui-icon-alert" style="float:left; margin-top: 0.2em; margin-right: 0.3em;"></span>Oops! <span id="error_box_text"><%= flash[:error] %></span>
    </p>
  </div>
</div>

